/* === main === */
#main_img{
    position: absolute;
    width: 840px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
}
#main_img>li:last-child>a{background: url("../images/main_contact_01.png") no-repeat;}
#main_img>li:last-child>a:hover{background: url("../images/main_contact_02.png") no-repeat;}


/* 컨텐츠 */
#contents{
    position: relative;
    width: 100%;
    height: 200%;
}
/* 각 페이지 */
.page{
    position: relative;
    width: 100%;
    height: 50%;

    overflow: hidden;
}
#banner{
    height: 60%;

    padding-top: 50px;
    box-sizing: border-box;

    /* 선 */
    border: 1px solid #65655E;
}
#banner .title{
    float: left;
    width: 25%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.8);

    padding: 5%;
    box-sizing: border-box;

    /* 선 */
    border-right: 1px solid #65655E;    
}
#banner_slide{
    float: left;
    width: 45%;
    height: 100%;
    
    /* 선 */
    border-right: 1px solid #65655E;    
    box-sizing: border-box;

    overflow: hidden;
}
#banner_slide ul{
    width: 700%;
}
#banner_slide>ul>li{
    float: left;
    width: 14.285%
}
#banner_slide img{
    display: block;
    width: 100%;
}
#banner .text{
    float: left;
    width: 30%;

    padding: 5%;
    box-sizing: border-box;
}
#banner .level{
    line-height: 2em;
    margin: 18% 0;
}
.level li span{
    display: inline-block;
    width: 20%;
    text-align-last: justify;
    margin-right: 10%;

    font-family: AppleB, sans-serif;
}
#banner .button{
    width: 45%;
    transform: translateX(50%);
}
.button{
    position: relative;
    display: block;
    height: 30px;
    border-radius: 15px;
    background-color: #000;

    white-space: nowrap;
    
    font-family: 'Assistant', sans-serif;
    overflow: hidden;
    
    line-height: 1.2em;
    font-size: 0.9em;

    transition-duration: 100ms;   
}
.button span, .button a span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    color: #fff;

    display: block;
    text-align: center;
}
.button:hover{
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
}
.button:hover span{
    color: #000;
}


/* 2페이ㅈㅣ 2번째 줄 */
#xd{
    height: 40%;
}
#xd>div{
    float: left;
    height: 100%;
}
#popol_img{
    width: 20%;
    
    padding: 1em;
    box-sizing: border-box;
}
#popol_img span{
    display: block;
    width: 100%;
    height: 100%;

    border-radius: 50%;

    color: transparent;
    background: url("../images/popol_01.jpg") no-repeat center / cover;
}
#mid{
    width: 50%;
    padding: 2.5%;
    box-sizing: border-box;

    line-height: 2em;

    /* 선 */
    border-right: 1px solid #65655E;
}
#mid .level{
    margin-top: 1em;
}
#mid .level li{
    float: left;
    width: 50%;
}
#mid_text .text:first-child{
    margin: 5% 0 2% 0;
}
#mid_text .text p{
    margin-left: 2.5em;
}
.mid_title{
    float: left;
    width: 90%;
    
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    
    font-size: 1.3em;
    
    color: #000;
}
.mid_title span{
    font-weight: 200;
    font-size: 1.5em;
    color: #fff;
    margin-right: 0.3em;
}
#mid_text .button{
    float: left;
    width: 10%;
}
#pizza_img{
    width: 30%;
}
#pizza_img span{
    float: left;
    display: block;
    width: 33.333%;
    height: 100%;
    color: transparent;
}
#pizza_img span:nth-child(1){background: url("../images/pizza_01.jpg") no-repeat center / cover;}
#pizza_img span:nth-child(2){background: url("../images/pizza_02.jpg") no-repeat center / cover;}
#pizza_img span:nth-child(3){background: url("../images/pizza_03.jpg") no-repeat center / cover;}

/* 03 페이지 */
#fashion{
    height: 65%;
    
    /* 선 */
    border-bottom: 1px solid #65655E;

    padding-top: 50px;
    box-sizing: border-box;

    /* overflow: hidden; */
    background: url("../images/fashion_bg.png") no-repeat right / contain;

}
#left{
    float: left;
    width: 40%;
    height: 100%;
}
#large_img{
    float: left;
    height: 100%;
    margin-right: 1%;

    margin-left: 10%;
}
#large_img li{
    height: 100%;
    display: none;
}
#large_img img{
    height: 100%;
}

#small_img{
    float: left;
    height: 100%;
}
#small_img li{
    height: 30%; 
    opacity: 0.7;
    margin-bottom: 5%;
}
#small_img li:last-child{
    margin-bottom: 0;
}
#small_img li:hover{
    cursor: pointer;
}
#small_img img{
    display: block;
    height: 100%;
}

/* .on */
#large_img li.on{
    display: block;
    
    animation-name: rightMove;
    animation-duration: 400ms;
    animation-timing-function: ease-out;
}
@keyframes rightMove{
    from{
        transform: translateX(-50px);
        }
    to{
        transform: translateX(0);
    }
}

#small_img li.on{
    cursor: default;
    /* 선 */
    border: 1px solid #65655E;

    box-sizing: border-box;
    opacity: 1;
}

#right{
    float: left;
    width: 60%;

    line-height: 2em;

    padding: 2.5% 15% 2.5% 2.5%;
    box-sizing: border-box;

}
#right b{
    font-family: AppleB, sans-serif;
}
#right .title{
    margin-bottom: 1em;
}
#right p span{
    display: block;
    text-align: right;
    font-size: 0.8em;    
    font-family: AppleB, sans-serif;
    
    margin-top: 1em;
    color: rgba(0, 0, 0, 0.4);
}
#right .level{
    margin-top: 2.5em;
}
#right .level span{
    width: 15%;
}

/* 아래쪽 */
#drawing{
    height: 35%;
}
#drawing>div:first-child{
    position: relative;
    float: left;
    width: 20%;
    height: 100%;

    box-sizing: border-box;

    /* 선 */
    border-right: 1px solid #65655E;

    background-color: rgba(255, 255, 255, 0.8);
}
#drawing_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#drawing_text .title{
    margin-bottom: 0.5em;
}
#slide{
    position: relative;

    float: left;
    width: 80%;
    height: 100%;

    overflow: hidden;
}
#slide ul{
    width: 400%;
    height: 100%;
}
#slide li{
    float: left;
    height: 100%;
}
#slide li img{
    display: block;
    height: 100%;
}
#slide button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 60px;
    height: 60px;
    border-radius: 50%;

    border: 3px solid #fff;
    background-color: rgba(0, 0, 0, 0.1);

    transition-duration: 100ms;
}
#slide button span{
    display: none;
}
#prev{
    left: 3%;
    background: url("../images/direction_pre.png") no-repeat center / 20px;
}
#next{
    right: 3%;
    background: url("../images/direction_next.png") no-repeat center / 20px;
}

#slide button:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

/* ===== footer ===== */
footer{
    height: calc(65% - 50px);
    min-width: 1300px;

    /* 선 */
    border-top: 1px solid #65655E;
}
#footer{
    height: 80%;
}
#footer>li{
    float: left;
    width: 33.333%;
    height: 100%;

    /* 선 */
    border-right: 1px solid #65655E;
    box-sizing: border-box;
}
#footer>li:last-child{
    border-right: none;
}
.footer_title{
    font-family: 'Assistant', sans-serif;
    text-transform: uppercase;    
    font-size: 2em;

    font-weight: 200;
}

#contact div{
    height: 50%;
    background: url("../images/main_footer_03.jpg") no-repeat center / cover;

    /* 선 */
    box-sizing: border-box;
}
#contact div span{
    display: none;
}
#contact .footer_title{
    width: 35%;
    font-size: 1.7em;
    font-weight: 400;
}
#contact ul{
    height: 50%;
    padding: 5% 10%;
    box-sizing: border-box;

    background-color: #000;
    color: #fff;
}
#contact li{
    margin-bottom: 0.5em;    
}
#contact a{
    color: #fff;
}
#contact li::after{
    display: block;
    content: "";
    clear: both;
}
#contact span{
    float: left;
    display: block;
    line-height: 32px;
}
.ft_menu a{
    position: relative;
    width: 100%;
    height: 100%;

    display: block;

    font-size: 1.7em;

    transition-duration: 100ms;
}
.ft_menu span{
    position: absolute;
    right: 0.5em;
    bottom: 0.5em;
}
#ft_main{
    background-color: rgba(255, 255, 255, 0.6);
}
#ft_main:hover a, #ft_web:hover a{background-color: #B5838D;}
#ft_main:hover span, #ft_web:hover span{color: #fff;}

#ft_web{
    background: url("../images/main_footer_01.png") no-repeat center / cover;
}

#copy{
    height: 20%;
    padding: 2.3% 5%;

    box-sizing: border-box;

    font-size: 0.9em;
    
    opacity: 0.8;

    background-color:#fff;
    border-top: 1px solid #65655E;

    color: #000;
}
#copy>span{
    float: right;
    font-size: 0.8em;
    color: #000;
}

/* === 더보기 === */
.more{
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    
    display: none;
}
.more>div{
    position: absolute;
    width: 800px;
    height: 457px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 3px solid #fff;
    overflow: hidden;
}
.more>div>ul{
    width: 700%;
}
.more>div>ul>li{
    float: left;
}
.more>div>ul>li>img{
    width: 800px;
}

/* == more_button */
.more>button{
    position: absolute;
    width: 20%;
    height: 100%;
    top: 0;
    opacity: 0.5;
}
.more button img{
    width: 30px;
}
#more_prev{
    left: 0;
}
#more_next{
    right: 0;
}
.more>button:hover{
    opacity: 1;
    transition-duration: 200ms;
}
#close{
    position: absolute;
    top: 5%;
    right: 5%;
    width: 50px;
    height: 50px;
    z-index: 10;
    transition-duration: 400ms;
}
#close:hover{
    transform: rotate(180deg);
}
