/* === main === */
#main_img{
    position: absolute;
    width: 840px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
}
#main_img>li:last-child>a{background: url("../images/main_contact_01.png") no-repeat;}
#main_img>li:last-child>a:hover{background: url("../images/main_contact_02.png") no-repeat;}
