@font-face {
    font-family: GmarketM;
    src: url('../../font/GmarketSansTTFMedium.woff');
  }
@font-face {
    font-family: GmarketB;
    src: url('../../font/GmarketSansTTFBold.woff');
  }
@font-face {
    font-family: GmarketL;
    src: url('../../font/GmarketSansTTFLight.woff');
  }

  /* === keyframes === */
@keyframes leftMove{
    from{
        transform: translateX(50px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
  }
  
  @keyframes rightMove{
      from{
          transform: translateX(-50px);
          opacity: 0;
      }
      to{
          transform: translateX(0);
          opacity: 1;
      }
  }

@keyframes upMove{
    from{
        transform: translateY(50px);
    }
    to{
        transform: translateX(0);
    }
}
  
body{
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
    font-family: GmarketM, sans-serif;
}

/* === 초기화 === */
a{
    text-decoration: none;
    color: #333;
}
.button{
    border: none;
    outline: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}

/* nav */
#nav{
    position: fixed;
    width: 90%;
    top: 2em;
    left: 5%;
    text-align: center;

    z-index: 10;
}
#nav, #menu{
    min-width: 1200px;
}
#nav a{
    color: #fff;

    transition-duration: 200ms;
}
#nav>ul::after{
    content: "";
    clear: both;
    display: block;
}

#nav>ul{
    float: left;
}
#nav ul li{
    float: left;
}

#logo{
    display: block;
    float: left;
    width: 15%;
    height: 5em;
    background: url("../images/logo.png") no-repeat center / contain;
}
#logo span{
    display: none;
}

/* nav login */
#login, #sns{
    width: 12.5%;
    font-size: 0.8em;
}
#login li{
    position: relative;
    width: 50%;
}
#login li:first-child::after{
    position: absolute;
    content: "ㅣ";
    top: 0;
    right: -0.5em;
    display: block;
    clear: both;
    color: #fff;
}
#login li a{
    text-align: center;
    display: block;
}

.menu{
    width: 30%;
    margin-top: 2.5em;
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
}
.menu>li{
    width: 33.333%;
    line-height: 2em;
    background: url("../images/menu_donuts.png") no-repeat center / contain;
}
#menu_sns a{
    display: block;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
}
#menu_sns li:nth-child(1) a{background: url("../images/facebook.png") no-repeat center / contain;}
#menu_sns li:nth-child(2) a{background: url("../images/instagram.png") no-repeat center / contain;}
#menu_sns li:nth-child(3) a{background: url("../images/homepage.png") no-repeat center / contain;}
#menu_sns span{
    display: none;
}

/* navigator */
#navigator{
    position: fixed;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    width: 1.5em;
    height: 10em;
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.5em;
    text-align: center;
    color: #000;

    z-index: 10;
}
#navigator>span:first-child{
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 1px;
    color: transparent;
}
#navigator>div{
    position: relative;
    height: 7em;
}
#navigator>div span{
    display: block;
    position: absolute;
    width: 0.15em;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: transparent;
}
#bar{
    height: 20%;
    background-color: #000;

    transition-duration: 100ms;
}
#barbox{
    height: 100%;
    background-color: #fff;
}
